* {
    box-sizing: border-box;

}

.btn {
    background-color: #eee;
    border          : 1px solid #ccc;
    outline         : none;
    cursor          : pointer;
    font-size       : 1em;
    padding         : .5em 1em;
    border-radius   : .4em;
}

.btn:hover,
.btn:focus {

    background-color: #ddd;
    box-shadow      : 0 0 5px 0#ccc;
}

.btn-primary {
    background-color: hsl(92, 80%, 50%);
    border-color    : hsl(92, 80%, 30%);
    color           : white;

}

.btn-primary:hover,
.btn-primary:focus {

    background-color: hsl(92, 80%, 40%);
    box-shadow      : hsl(92, 80%, 30%);




}


.btn-accent {

    background-color: hsl(50, 100%, 40%);
    color           : white;
    border-color    : hsl(50, 100%, 30);


}

.btn-accent:hover,
.btn-accent:focus {

    background-color: hsl(50, 100%, 35%);
    box-shadow      : 0 0 5px 0 hsl(50, 100%, 30%);



}

.btn-danger {

    background-color: hsl(1, 80%, 60%);
    color           : white;
    border-color    : hsl(1, 80%, 20%);


}

.btn-danger:hover,
.btn-danger:focus {

    background-color: hsl(1, 80%, 45%);
    box-shadow      : 0 0 5px 0 hsl(1, 80%, 40%);



}

.btn-large {

    font-size: 1.50em;



}

.btn-small {
    font-size: 0.20em;


}

.btn-oval {

    border-radius: 10000px
}